* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #999;
}

.navbar .nav {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.navbar .nav #navSign {
    margin: auto;
    margin-right: 12rem;
    background-color: #d10f17;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    min-width: 135px;
    min-height: 45px;
}

.head .content {
    margin: 0 auto;
    margin-top:-80px;;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
    width: 100%;
    height: 50vh;
    box-shadow: black 0px 0px 150px 150px inset;
}

.head .content .contentTxt {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 0px 4px 20px black;
    font-size: 50px;
    gap: 35px;
}

.head .content .contentTxt h1 {
    margin-top: 12rem;
}

.head .content .contentTxt h2 {
    font-weight: lighter;
    font-size: 30px;
}

.head .content #contentBtn {
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d10f17;
    color: white;
    font-weight:bold;
    font-size: 20px;
    padding: 20px;
    min-height: 75px;
    min-width: 500px;
    border: none;
    border-radius: 5px;
}

.section {
    background-color: #141414;
    min-height: 100px;
}

.section .sectionBtn ul{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
}

.section .sectionBtn ul li {
    padding: 20px;
}


.section .sectionBtn ul li button {
    margin: auto;
    margin: 0 8rem;
    background-color: #141414;
    min-width: 150px;
    width: 250px;
    height: 150px;
    border: none;
    color: #969792;
    font-size: 25px;
}

.section .sectionBtn ul li button a {
    text-decoration: none;
    color: #969792;
}

.section .sectionBtn ul li button i {
    margin: 0 0 30px 0;
    display: block;
    font-size: 50px;
}

.section .sectionBtn ul li button:hover i {
    color: white;
}

.section .sectionBtn ul li button:hover a {
    color: white;
}
section hr {
    position: relative;
    top:0px;
    width: 100%;
    border: solid;
    border-width:2.5px;
    border-color: #3c3c3c;
}

.article {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.article img {
    width: auto;
    height: 25rem;
    margin-left: 5rem;
}

.article .articleDesc p {
    font-size: 3vh;
    color: white;
}

.article .articleDesc #btnTrial {
    margin-top: 25px;
    background-color: #d10f17;
    color: white;
    font-size: 15px;
    width: 280px;
    height:55px;
    border: none;
    border-radius: 3px;
}

.article2 {
    margin: auto;
    margin-top: 5rem;
}

.article2 .articleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.article2 .articleHeader p {
    font-size: 2.5vh;
    color: white;
}

.article2 .articleHeader #btnTrial {
    margin-left: 5vh;
    background-color: #d10f17;
    color: white;
    font-size: 15px;
    width: 480px;
    height:50px;
    border: none;
    border-radius: 3px;
}

.article2 .articleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5vh;
}

.article2 .articleContent .contentHead {
    margin: 20px 0;
    color: white;
}

.article2 .articleContent .contentDesc {
    font-size: 20px;
}

.a3-c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem;
    gap: 1.25rem;
}

.a3-c1 p {
    font-size: 29px;
    color: white;
}

.a3-c1 #btnTrial {
    background-color: #d10f17;
    color: white;
    font-size: 17.8px;
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 3px;
}

.priceTable {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    font-size: 18px;
}

.priceTable .tableHead {
    color: white;
    margin-bottom: 25px;
}

.priceTable .tableTitle {
    width: 70rem;
    text-align: left;
    padding-left: 15px;
}

.priceTable .tableItem {
    width: 10rem;
    padding: 15px;
}

.priceTable .trLight {
    background-color: #222222;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    list-style: none;
    padding: 5px;
}

.links a {
    color: #999;
    text-decoration: none;
}

.links ul {
    padding: 12vh;
    padding-bottom: 2rem;
}

#footerInfo {
    display: block;
    margin-block-start: 5em;
    margin-block-end: -7em;
    margin-inline-start: 23.8em;
    margin-inline-end: 0px
}